<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserQDao">

    <resultMap type="com.demo.entity.po.UserQ" id="UserQMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="uid" column="uid" jdbcType="VARCHAR"/>
        <result property="qid" column="qid" jdbcType="VARCHAR"/>
        <result property="qTypeId" column="q_type_id" jdbcType="VARCHAR"/>
        <result property="qTitle" column="q_title" jdbcType="VARCHAR"/>
        <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserQMap">
        select
          id, uid, qid, q_type_id, q_title, createtime, updatetime
        from questionnaire.user_q
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserQMap">
        select
          id, uid, qid, q_type_id, q_title, createtime, updatetime
        from questionnaire.user_q
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserQMap">
        select
          id, uid, qid, q_type_id, q_title, createtime, updatetime
        from questionnaire.user_q
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="uid != null and uid != ''">
                and uid = #{uid}
            </if>
            <if test="qid != null and qid != ''">
                and qid = #{qid}
            </if>
            <if test="qTypeId != null and qTypeId != ''">
                and q_type_id = #{qTypeId}
            </if>
            <if test="qTitle != null and qTitle != ''">
                and q_title = #{qTitle}
            </if>
            <if test="createtime != null">
                and createtime = #{createtime}
            </if>
            <if test="updatetime != null">
                and updatetime = #{updatetime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into questionnaire.user_q(uid, qid, q_type_id, q_title, createtime, updatetime)
        values (#{uid}, #{qid}, #{qTypeId}, #{qTitle}, #{createtime}, #{updatetime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update questionnaire.user_q
        <set>
            <if test="uid != null and uid != ''">
                uid = #{uid},
            </if>
            <if test="qid != null and qid != ''">
                qid = #{qid},
            </if>
            <if test="qTypeId != null and qTypeId != ''">
                q_type_id = #{qTypeId},
            </if>
            <if test="qTitle != null and qTitle != ''">
                q_title = #{qTitle},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from questionnaire.user_q where id = #{id}
    </delete>

</mapper>